.aboutMe {
    @include boxNheader;
    
    &::before {
        //background-image: url('../assets/about.jpg');
        //background-position-y: center;
        //filter: blur(3px);
    }

    &-txt {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 1;
    }

    p {
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: rgb(0 0 0 / 60%) 0px 0px 7px;
        padding: 2px;
    }
}