footer {
    background-color: $dark-bg;
    color: $white;
    padding: 10px 0;

    span,
    a {
        font-size: 0.8em;
    }

    a {
        &:hover {
            color: $light-hover-color;
        }
    }

    svg {
        width: 30px;
        height: 30px;
        //margin: 0 5px;
    }

}