.studies {
    @include boxNheader;

    &::before {
        background-image: url('../assets/studies.jpg');
        background-position-y: bottom;
        filter: blur(3px) brightness(0.6);
    }

    &-txt {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 1;

        &-item {
            display: grid;
            grid-template-columns: 8% 92%;
            // grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 10px;
            align-items: center;

            span {
                &:nth-child(2) {
                    grid-area: 1 / 2 / 2 / 3;
                }

                &:nth-child(3) {
                    grid-area: 2 / 2 / 3 / 3;
                    font-size: 1em;
                    font-weight: 300;
                }

                &:nth-child(4) {
                    grid-area: 3 / 2 / 4 / 3;
                    font-size: 0.85em;
                    font-weight: 300;
                    font-style: italic;
                }
            }
        }
    }

    .unipi {
        grid-area: 1 / 1 / 4 / 2;
        width: 60px;
        filter: drop-shadow(0px 0px 3px #ffffff);
    }
}