.findMe {
    grid-area: 5 / 2 / 6 / 3;
    padding: 80px 80px 80px 80px;
    place-items: center;
    @include boxNheader;

    &::before {
        background-image: url('../public/find.jpg');
        filter: blur(3px);
    }

    &-txt {
        font-size: 1.2em;
        display: flex;
        gap: 60px;
        z-index: 1;

        &-item {
            padding: 2px;
            display: flex;
            place-items: center;

            a {
                padding: 10px;
                background-color: transparent;
                border-radius: 100%;
                transition: 0.2s linear;
            }
            
            a:hover {
                transform: scale(1.1);
                background-color: #ffffff;
            }

            a:nth-child(3) {
                border-radius: 10px;
            }

            &:nth-child(1):hover {
                svg path {
                    fill: $light-color;
                }
            }

            &:nth-child(2):hover {
                svg path {
                    fill: #333;
                }
            }

            &:nth-child(3):hover {
                svg path {
                    fill: #006192;
                }
            }

            svg {
                width: 70px;
                height: 70px;
            }
        }
    }
}